@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Zaloguj sie";
}


<div style="background-color:#116597;">
    <div class="container">
        <div class="col-md-7" style="padding-top:30px; padding-bottom:30px; text-align: left">
            <div class="header"><strong>Nie masz jeszcze konta?</strong></div>
            <div class="paragraph">Zarejestruj się, aby móc edytować swoje ogłoszenia oraz obserwować te, które Cię interesują!</div>
        </div>
        <div class="col-md-5" style="padding-top:30px;text-align: center">
            <a asp-action="Register" class="btn button-blueBack-lg" style="margin:5px; width:300px;"><strong>Zarejestruj</strong></a>
            <a asp-action="Index" asp-controller="Home" class="btn button-purpleBack-lg" style="margin:5px; margin-bottom:20px; width:300px;"><strong>Odzyskaj hasło</strong></a>
        </div>
    </div>
</div>


<div class="container">

    <div class="row" style="margin-top:100px;">

        <div class="col-md-offset-3 col-md-6">

            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">

                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="col-md-2 control-label"></label>
                    <div class="col-md-8">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Haslo</label>
                    <div class="col-md-8">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe" />
                                Zapamietaj mnie
                            </label>
                        </div>
                    </div>
                </div>


                <div style="text-align:center;">

                    <button type="submit" class="btn button-purpleBack" style="width:250px;">Zaloguj</button>

                </div>

            </form>
        </div>
    </div>

    @if (Model.Ogloszenia != null)
    {
        <div class="row" style="margin-top:100px;">
            <div style="text-align:center">
                <h2><strong>Ostatnio dodane ogłoszenia</strong></h2>
                <div style="height:50px;"></div>
            </div>

            @foreach (var item in Model.Ogloszenia)
            {
                @Html.Partial("_OgloszenieTilePartial", item)
            }
        </div>
    }
    else
    {
        <div class="row" style="height:500px;"></div>
    }

</div>







@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
