@model RegisterViewModel

@{
    ViewData["Title"] = "Zarejestruj sie";
}

<div style="background-color:#116597;">
    <div class="container">
        <div class="col-md-7" style="padding-top:30px; padding-bottom:30px; text-align: left">
            <div class="header"><strong>Otwórz przed sobą nowe możliwości!</strong></div>
            <div class="paragraph">Posiadanie konta umożliwia Ci edycję swoich ogłoszeń oraz obserwacje tych, które Cię interesują!</div>
        </div>
        <div class="col-md-5" style="padding-top:95px;text-align: center">
            <a asp-action="Login" class="btn button-blueBack-lg" style="margin:5px; width:300px;"><strong>Mam już konto</strong></a>
        </div>
    </div>
</div>


<div class="container">

    <div class="row" style="margin-top:100px;">
        <div class="col-md-6 col-md-offset-3">

            <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" enctype="multipart/form-data">

                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="col-md-2 control-label"></label>
                    <div class="col-md-8">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Haslo</label>
                    <div class="col-md-8">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Potwierdz haslo</label>
                    <div class="col-md-8">
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Imie</label>
                    <div class="col-md-8">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>

                <div style="text-align:center;">

                    <button type="submit" class="btn button-purpleBack" style="width:250px;">Rejestruj</button>

                </div>
            </form>
        </div>




    </div>

    <div class="row" style="margin-top:100px;">

        <div style="text-align:center">
            <h2><strong>Ostatnio dodane ogłoszenia</strong></h2>
            <div style="height:50px;"></div>
        </div>

        @foreach (var item in Model.Ogloszenia)
        {
                @Html.Partial("_OgloszenieTilePartial", item)
        }
    </div>



</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
