@model UstawieniaViewModel


<div class="container">

    <div class="LightGrayConteiner">

        <div class="row">


            @{
                if (Model.Image.Length < 10)
                {
                    <div class="col-md-2">
                        <img src="~/images/DefaultUserPhoto.png" class="img-circle" style="width:120px; height:120px;" />
                    </div>
                }
                else
                {
                    var base64 = Convert.ToBase64String(Model.Image);
                    var patch = String.Format("data:image/gif;base64,{0}", base64);
                    <div class="col-md-2">
                        <img src='@patch' class="img-circle" style="width:120px; height:120px;" />
                    </div>
                }
            }

            <div class="col-md-5">

                <div class="row">
                    <h4 class="col-md-5"><span class="glyphicon glyphicon-phone-alt"></span> Numer telefonu:</h4>
                    <h4>@Model.PhoneNumber</h4>
                </div>

                <div class="row">
                    <h4 class="col-md-5"><span class="glyphicon glyphicon-envelope"></span> E-mail:</h4>
                    <h4>@**@</h4>
                </div>

                <div class="row">
                    <h4 class="col-md-5"><span class="glyphicon glyphicon-calendar"></span> Data rejestracji:</h4>
                    <h4>@*@Html.DisplayFor(modelItem => Model.RegisterDate)*@</h4>
                </div>

            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-3">
            <div class="LightGrayConteiner">
                <a asp-controller="Manage" asp-action="Index" class="btn button-purple" style="margin-bottom:5px; margin-top:5px"><strong>Moje ogloszenia</strong></a>
                <a asp-controller="Manage" asp-action="Obserwowane" class="btn button-purple" style="margin-bottom:5px; margin-top:5px"><strong>Obserwowane</strong></a>
                <a asp-action="Ustawienia" class="btn button-purple-selected"><strong>Ustawienia</strong></a>
            </div>
        </div>

        <div class="col-md-6" style="margin-top:20px;">
            <form asp-action="Ustawienia" enctype="multipart/form-data">

                <div class="form-horizontal">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Name" class="col-md-2 control-label"></label>
                        <div class="col-md-8">
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
                        <div class="col-md-8">
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <label class="btn btn-default btn-file" for="multiple_input_group">
                                        <input id="multiple_input_group" type="file" name="image" /> Dodaj zdjecie
                                    </label>
                                </span>
                                <span class="file-input-label"></span>
                            </div>
                        </div>
                    </div>


                    <div style="text-align:center;">

                        <button type="submit" class="btn button-purpleBack" style="width:250px;">Zapisz zmiany</button>

                    </div>

                </div>
            </form>

        </div>
    </div>
</div>

<div style="height:500px;"></div>



